---
import { Image } from "astro:assets";
import ImgAbout from "@assets/images/about.jpg";
---

<section id="about">
    <div class="h-18"></div>
    <!-- Judul -->
    <div class="mb-4">
        <p
            class="self-start inline font-sans text-xl font-medium text-transparent bg-clip-text bg-gradient-to-br from-[#840ABE] to-[#F50C81]"
        >
            About us
        </p>
        <h2 class="text-4xl font-bold">Record Music Label</h2>
    </div>
    <div class="grid gap-8 md:grid-cols-3">
        <!-- Deskripsi -->
        <div class="order-2 md:order-none md:col-span-2">

            <p class="text-lg text-gray-400 mb-3 indent-10 text-justify">
                Tunetuf is an independent record label established in 2025, born
                from a casual conversation that grew into a shared ambition. It
                focuses primarily on hip hop and pop genres, featuring core
                artists like Hadi Pratama, Sayyid Zavic, Hamada Haikal, and
                Maulana Yusuf. creating content with limited tools but immense passion.
            </p>
            <p class="text-lg text-gray-400 mb-3 indent-10 text-justify">
                Founded in 2025, Tunetuf began as a small idea that developed
                into a collective vision to produce honest and daring music.
                Initially focused on hip hop and pop, Tunetuf built its identity
                through works that reflect the spirit and concerns of younger
                generations. Despite limited production resources, the label
                demonstrates that limitations are no obstacle to creativity.
                Tunetuf supports core artists such as Hadi Pratama, Sayyid
                Savic, Hamada Haikal, and Maulana Yusuf. contributing their
                own distinct musical character. Moving forward, Tunetuf is open
                to exploring new genres while continuing to deliver relevant yet
                authentic music.
            </p>
        </div>
        <!-- Gambar -->
        <div class="order-1 md:order-none ">
            <Image
                src={ImgAbout}
                alt="about"
                loading="eager"
                class="w-full object-cover rounded-2xl"
            />
        </div>
    </div>
</section>
