<section id="new-release">
    <div class="h-12"></div>
    <div class="pb-8">
        <p
            class="self-start inline font-sans text-xl font-medium text-transparent bg-clip-text bg-gradient-to-br from-[#840ABE] to-[#F50C81]"
        >
            New
        </p>
        <h2 class="text-4xl font-bold">Release</h2>
    </div>
    <div class="flex items-center justify-center flex-col sm:flex-row gap-4">
        <a
            href="#"
            class="group relative block bg-black rounded-lg overflow-hidden"
        >
            <img
                alt=""
                src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                class="absolute inset-0 h-full w-full rounded-lg object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />

            <div class="relative p-4 sm:p-6 lg:p-8">
                <p
                    class="text-sm font-medium tracking-widest text-pink-500 uppercase"
                >
                    Singer
                </p>

                <p class="text-xl font-bold text-white sm:text-2xl">
                    Hadi Pratama
                </p>

                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div
                        class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                    >
                        <p class="text-sm text-white">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Omnis perferendis hic asperiores quibusdam
                            quidem voluptates doloremque reiciendis nostrum
                            harum. Repudiandae?
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <a
            href="#"
            class="group relative block bg-black rounded-lg overflow-hidden"
        >
            <img
                alt=""
                src="https://images.pexels.com/photos/14653174/pexels-photo-14653174.jpeg"
                class="absolute inset-0 h-full w-full rounded-lg object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />

            <div class="relative p-4 sm:p-6 lg:p-8">
                <p
                    class="text-sm font-medium tracking-widest text-pink-500 uppercase"
                >
                    Group Band
                </p>

                <p class="text-xl font-bold text-white sm:text-2xl">Javarisk</p>

                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div
                        class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                    >
                        <p class="text-sm text-white">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Omnis perferendis hic asperiores quibusdam
                            quidem voluptates doloremque reiciendis nostrum
                            harum. Repudiandae?
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <a
            href="#"
            class="group relative block bg-black rounded-lg overflow-hidden"
        >
            <img
                alt=""
                src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"
                class="absolute inset-0 h-full w-full rounded-lg object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />

            <div class="relative p-4 sm:p-6 lg:p-8">
                <p
                    class="text-sm font-medium tracking-widest text-pink-500 uppercase"
                >
                    Singer
                </p>

                <p class="text-xl font-bold text-white sm:text-2xl">Hamada</p>

                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div
                        class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                    >
                        <p class="text-sm text-white">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Omnis perferendis hic asperiores quibusdam
                            quidem voluptates doloremque reiciendis nostrum
                            harum. Repudiandae?
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>
