---
import ImgHilda from "@assets/images/talents/hilda.jpg";
import ImgHamada from "@assets/images/talents/hamada.jpg";
import ImgJavarisk from "@assets/images/talents/javarisk.jpg";
import ImgNext from "@assets/images/talents/next.jpeg";
import CardArtist from "@components/CardArtist.astro";
---

<section id="talents">
    <div class="h-12 sm:h-20"></div>
    <div class="pb-8">
        <p
            class="self-start inline font-sans text-xl font-medium text-transparent bg-clip-text bg-gradient-to-br from-[#840ABE] to-[#F50C81]"
        >
            Our
        </p>
        <h2 class="text-4xl font-bold">Talent</h2>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <CardArtist
            name="Hildapixel"
            talent="Singer"
            link="#home"
            description="Hildapixel is a talented singer and content creator known for her unique voice and captivating performances."
            img={ImgHilda}
        />
        <CardArtist
            name="Hamada"
            talent="Singer"
            link="#home"
            description="Hamada is a renowned singer with a powerful voice and a passion for music that resonates with audiences worldwide."
            img={ImgHamada}
        />
        <CardArtist
            name="Javarisk"
            talent="Group Band"
            link="#home"
            description="Javarisk is a dynamic group band known for their energetic performances and diverse musical styles that captivate fans everywhere."
            img={ImgJavarisk}
        />
        <CardArtist
            name="Next Talent"
            talent="???"
            description="Want to be the next talent? Contact us to showcase your skills and join our talented roster!"
            img={ImgNext}
            link="#contact"
        />

        <!-- <a
            href="#"
            class="group relative block bg-black rounded-lg overflow-hidden"
        >
        
            <img
                alt=""
                src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                class="absolute inset-0 h-full w-full rounded-lg object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />

            <div class="relative p-4 sm:p-6 lg:p-8">
                <p
                    class="text-sm font-medium tracking-widest text-pink-500 uppercase"
                >
                    Singer
                </p>

                <p class="text-xl font-bold text-white sm:text-2xl">
                    Hadi Pratama
                </p>

                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div
                        class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                    >
                        <p class="text-sm text-white">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Omnis perferendis hic asperiores quibusdam
                            quidem voluptates doloremque reiciendis nostrum
                            harum. Repudiandae?
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <a
            href="#"
            class="group relative block bg-black rounded-lg overflow-hidden"
        >
            <img
                alt=""
                src="https://images.pexels.com/photos/14653174/pexels-photo-14653174.jpeg"
                class="absolute inset-0 h-full w-full rounded-lg object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />

            <div class="relative p-4 sm:p-6 lg:p-8">
                <p
                    class="text-sm font-medium tracking-widest text-pink-500 uppercase"
                >
                    Group Band
                </p>

                <p class="text-xl font-bold text-white sm:text-2xl">Javarisk</p>

                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div
                        class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                    >
                        <p class="text-sm text-white">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Omnis perferendis hic asperiores quibusdam
                            quidem voluptates doloremque reiciendis nostrum
                            harum. Repudiandae?
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <a
            href="#"
            class="group relative block bg-black rounded-lg overflow-hidden"
        >
            <img
                alt=""
                src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"
                class="absolute inset-0 h-full w-full rounded-lg object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />

            <div class="relative p-4 sm:p-6 lg:p-8">
                <p
                    class="text-sm font-medium tracking-widest text-pink-500 uppercase"
                >
                    Singer
                </p>

                <p class="text-xl font-bold text-white sm:text-2xl">Hamada</p>

                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div
                        class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                    >
                        <p class="text-sm text-white">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Omnis perferendis hic asperiores quibusdam
                            quidem voluptates doloremque reiciendis nostrum
                            harum. Repudiandae?
                        </p>
                    </div>
                </div>
            </div>
        </a> -->
    </div>
</section>
