---
import ImgHadi from "@assets/images/talents/hadi.jpg";
import ImgHamada from "@assets/images/talents/hamada.jpg";
import ImgJavarisk from "@assets/images/talents/javarisk.jpg";
import ImgYusuf from "@assets/images/talents/yusuf.jpg";
import CardTalent from "@components/CardTalent.astro";
---

<section id="talents">
    <div class="h-18"></div>
    <div class="pb-8">
        <p
            class="self-start inline font-sans text-xl font-medium text-transparent bg-clip-text bg-gradient-to-br from-[#840ABE] to-[#F50C81]"
        >
            Our
        </p>
        <h2 class="text-4xl font-bold">Talent</h2>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <CardTalent
            name="Hadi Pratama"
            talent="Singer"
            link="/talents/hadi"
            description="Hadi Pratama is an Indonesian singer, lyricist, and musician who began his career as a content creator and video editor."
            img={ImgHadi}
        />
        <CardTalent
            name="Hamada Haikal"
            talent="Singer"
            link="/talents/hamada"
            description="Hamada Haikal is a singer with a distinctive voice who began his music career in 2024 as a solo artist, initially collaborating as a guest rapper on Javarisk's debut song."
            img={ImgHamada}
        />
        <CardTalent
            name="Javarisk"
            talent="Group Band"
            link="/talents/javarisk"
            description="Javarisk is a vocal rap group from Java that embraces the hip hop genre, known for their politically and socially themed lyrics."
            img={ImgJavarisk}
        />
        <CardTalent
            name="Maulana Yusuf"
            talent="Singer"
            description="Maulana Yusuf is a composer, songwriter, and lyricist who enjoys crafting simple stories into warm and meaningful music."
            img={ImgYusuf}
            link="/talents/yusuf"
        />
    </div>
</section>
