---
import Icon from "@assets/tunetuf.svg";
import { Image } from "astro:assets";
---

<a
    href="/#home"
    class="flex items-center gap-3 text-gray-100 hover:text-pink-500"
>
    <Image src={Icon} alt="logo" loading="eager" />
    <span class="text-2xl font-bold">TUNETUF</span>
</a>
