---
const { title = "Tunetuf", ...props } = Astro.props;
---

<title>{title}</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta
    name="description"
    content="Tunetuf is an indie record label founded on the passion to support and develop local Indonesian music talents."
/>

<meta property="og:title" content="Tunetuf" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.tunetuf.com/" />
<meta
    property="og:description"
    content="Tunetuf is an indie record label founded on the passion to support and develop local Indonesian music talents."
/>
<meta property="og:image" content="https://www.tunetuf.com/tunetuf.png" />
<meta property="og:image:alt" content="Tunetuf" />
