---
import "@assets/styles/global.css";
import "@assets/styles/navbar.css";
import Head from "@layouts/home/Head.astro";
import Navbar from "@layouts/home/Navbar.astro";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<Head />
	</head>
	<body class="bg-gray-900 text-gray-300">
		<!-- Navbar -->
		<Navbar />

		<!-- Main Content -->
		<main>
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
				<slot />
			</div>
		</main>

		<Footer />

		<script>
			import "@assets/scripts/navbar.js";
		</script>
	</body>
</html>
