---
import "@assets/styles/global.css";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<Head />
	</head>
	<body class="bg-gray-900 text-gray-300">
		<header>
			<Navbar />
		</header>

		<main>
			<div class="bg-gradient-to-br from-gray-900 to-black">
				<div
					class="container mx-auto px-6 overflow-hidden md:px-10 lg:px-12"
				>
					<slot />
				</div>
				<div class="h-20"></div>
			</div>
		</main>

		<footer>
			<Footer />
		</footer>
	</body>
</html>
